/* mobile */
@media screen and (max-width: 425px) {
  body {
    background-color: cornflowerblue;
  }
  .circulo {
    background-color: palegreen;
    width: 300px;
    height: 300px;
  }
}
/* tablet */
@media screen and (min-width: 426px) and (max-width: 768px) {
  body {
    background-color: darkcyan;
  }
  .circulo {
    background-color: palegreen;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
}
/* desktop */
@media screen and (min-width: 768px) {
  body {
    background-color: orangered;
  }
  .circulo {
    background-color: palegreen;
    width: 300px;
    height: 300px;
  }
}
